<div class="row form-container mb-5">
    <h4>{{ formTitle }}</h4>
    <form class="example-form" (ngSubmit)="registerStudent()" [formGroup]="form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Prénom(s)</mat-label>
                        <input matInput type="text" formControlName="wording" [formControl]='firstnameFormControl'required>
                        <mat-error *ngIf="firstnameFormControl.hasError('required')">
                            adresse mail <strong>obligatoire</strong>
                          </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Date de naissance</mat-label>
                        <input matInput type="date" required>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Lieu de naissance</mat-label>
                        <input matInput type="text" placeholder="Dakar, Senegal" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Téléphone</mat-label>
                        <span matPrefix>+221 &nbsp;</span>
                        <input type="tel" matInput placeholder="7X-XXX-XX-XX" required>
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Adresse mail</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                               placeholder="Ex. pat@example.com">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                          Entrez un mail valide
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                          adresse mail <strong>obligatoire</strong>
                        </mat-error>
                      </mat-form-field>
                </td>
            </tr>
            <tr>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Adresse</mat-label>
                        <textarea matInput type="text" required></textarea>
                    </mat-form-field>             
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Choisir classe</mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="food" required>
                          <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Date d'inscription</mat-label>
                        <input matInput type="date" required>
                    </mat-form-field>
                </td>  
            </tr>
            <tr>
                <td>
                    <p class="text">Eleve inscrit(e) en classe de: <strong> {{selectedValue}} </strong> </p>
                </td>
                <td>
                     
                </td>   
            </tr>
        </table>
        <div class="row btn-container col-12 col-md-12">
            <button mat-flat-button color="primary" type="submit" class="btn">Valider inscription</button>
        </div> 
      </form>
      

    <!-- (ngSubmit)="registration()" -->
    
</div>