<div class="row">
    <div class="container">
        <div class="item">
            <button mat-button routerLink="/frontoffice/home" routerLinkActive="router-link-active">Accueil</button>
        </div>
        <div class="item">
            <button mat-button routerLink="/frontoffice/class-management" routerLinkActive="router-link-active">Gestion classes</button>
        </div>
        <div class="item">
            <button mat-button [matMenuTriggerFor]="belowMenu" routerLink="/frontoffice/students-management" routerLinkActive="router-link-active">Gestion étudiants</button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item>Inscrire étudiant</button>
                <button mat-menu-item>Lister étudiant</button>
            </mat-menu>
        </div>
    </div>
</div> 

