<div class="container">
<h4>{{ titleForm | uppercase }}</h4>
    <div class="form-container col-12 col-md-12">
      <form class="example-form col-12 col-md-12" [formGroup]="form" (ngSubmit)="editClass()">
          <div class="col-6 col-md-12 item1">
            <mat-form-field class="example-full-width lib" appearance="fill">
              <mat-label>Libellé classe</mat-label>
              <input type="text" matInput formControlName="wording" [formControl]='libFormControl' [(ngModel)]="wording">
              <mat-error *ngIf="libFormControl.hasError('required')">
                Saisir <strong>le libellé</strong>
              </mat-error> 
            </mat-form-field>
          </div>
  
          <div class="col-6 col-md-12 item2">
            <mat-form-field class="example-full-width eff" appearance="fill">
              <mat-label>Effectif classe</mat-label>
              <input type="number" matInput  formControlName="size" [formControl]="effFormControl" [(ngModel)]="size">
              <mat-error *ngIf="effFormControl.hasError('required')">
                Renseignez <strong>l'effectif </strong> de la classe
              </mat-error> 
            </mat-form-field>
            <div class="row btn-container col-6 mt-1 mb-4">
              <button mat-flat-button color="primary" type="submit" >Valider</button>
            </div>
          </div>  
      </form>
    </div>
    <p class="h6"><a routerLink="/frontoffice/class-management">Annuler modifications</a></p>
</div>  
<router-outlet></router-outlet>

