<div class="row form-container mb-5">
    <h4>{{ formTitle | uppercase }}</h4>
    <form class="example-form"  [formGroup]="form" (ngSubmit)="editStudent()">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Prénom(s)</mat-label>
                        <input matInput type="text" formControlName="firstname" [formControl]='firstnameFormControl'  [(ngModel)]="firstname" required>
                        <mat-error *ngIf="firstnameFormControl.hasError('required')">
                            Prénom(s) <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" formControlName="lastname" [formControl]="lastNameFormControl" [(ngModel)]="lastname" required>
                        <mat-error *ngIf="lastNameFormControl.hasError('required')">
                            Nom <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Date de naissance</mat-label>
                        <input matInput type="date" formControlName="dateBirth" [formControl]="dateBirthFormControl" [(ngModel)]="dateBirth" required>
                        <mat-error *ngIf="dateBirthFormControl.hasError('required')">
                            date de naissance <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Lieu de naissance</mat-label>
                        <input matInput type="text" formControlName="placeBirth" [formControl]="placeBirthFormControl" [(ngModel)]="placeBirth" required>
                        <mat-error *ngIf="placeBirthFormControl.hasError('required')">
                            lieu de naissance <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Téléphone</mat-label>
                        <input type="tel" matInput formControlName="phone" [formControl]="phoneFormControl" [(ngModel)]="phone" required>
                        <mat-error *ngIf="phoneFormControl.hasError('required')">
                         téléphone <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Adresse mail</mat-label>
                        <input type="email" matInput formControlName="addressmail" [formControl]="emailFormControl" [(ngModel)]="addressmail" [errorStateMatcher]="matcher" >
                      </mat-form-field>
                </td>
            </tr>
                <tr class="add">
                    <mat-form-field class="example-full-width-add" appearance="fill">
                        <mat-label>Adresse</mat-label>
                        <textarea matInput type="text" [errorStateMatcher]="matcher" formControlName="location" [formControl]="locatorFormControl" [(ngModel)]="location" required></textarea>
                        <mat-error *ngIf="locatorFormControl.hasError('required')">
                            veuillez renseigner adresse domicile
                        </mat-error>
                    </mat-form-field>             
                </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Choisir classe</mat-label>
                        <mat-select [(ngModel)]="selectedValue" formControlName="classFormControl" [errorStateMatcher]="matcher" [formControl]="classFormControl" [(ngModel)]="classe" required>
                          <mat-option *ngFor="let classe of classes" [value]="classe.value">
                            {{classe.viewValue}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="classFormControl.hasError('required')">
                            choisir une classe <strong>obligatoirement</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Date d'inscription</mat-label>
                        <input matInput type="date" [errorStateMatcher]="matcher" formControlName="registrationDate" [formControl]="registerDateFormControl" [(ngModel)]="registrationDate" required>
                    </mat-form-field>
                </td>  
            </tr>
            <tr>
                <td>
                    <p class="text">Éléve inscrit(e) en classe de: <strong> {{selectedValue}} </strong> </p>
                </td>
                <td>
                     
                </td>   
            </tr>
        </table>
        <div class="row btn-container col-12 col-md-12">
            <button mat-flat-button color="primary" type="submit" class="btn">Valider modifications</button>
        </div> 
      </form>
      <div>
        <p>
            <a [routerLink]="['/frontoffice/students-management']" routerLinkActive="router-link-active" >Annuler modifications</a>
        </p>
      </div>
</div>
<router-outlet></router-outlet>
