<div class="container table-container my-3">
  <h4>{{ title | uppercase }}</h4>
  <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Prénom(s)</th>
            <th scope="col">Nom</th>
            <th scope="col">Date naissance</th>
            <th scope="col">Classe</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Actions</th>
            <th scope="col">Détails</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.firstname | titlecase }}</td>
            <td>{{ student.lastname | uppercase }}</td>
            <td>{{ student.dateBirth | date }}</td>
            <td>{{ student.classe }}</td>
            <td>{{ student.phone }}</td>
            <td>
              <button mat-icon-button>
                <a routerLink="/frontoffice/edit-student/{{ student._id }}" >
                  <mat-icon>edit</mat-icon> 
                </a>
              </button>   
              <button mat-icon-button color="warn" (click)="deleteStudent(student._id)">
                <mat-icon id="icon2">delete_outline</mat-icon>
              </button>
            </td> 
            <td><a routerLink="/frontoffice/student-details/{{ student._id }}"><mat-icon>more_vert</mat-icon></a></td>
        </tr>
        </tbody>
    </table>
    <p class="nbeleves">nombre d'éléves inscritent: {{students.length}}</p>
  </div>  

  <mat-paginator 
      #paginator 
      [length]="100" 
      [pageSizeOptions]="[5, 6, 8]" 
      aria-label="select page" 
      showFirstLastButtons>
  </mat-paginator>
</div>
<router-outlet></router-outlet>