.linkEdit {
    margin-right: 5px;
}
table {
    width: 100%;
}
.mat-form-field {
    margin-right: 12px;
}
.tab-register-container {
    margin-bottom: 60;
}
.nbeleves {
    color: #AFC9DF;
}
a :hover {
    color: rgba(143, 140, 140, 0.877);
}
  