h1 {
    text-align: center;
}
form {
    margin-bottom: 6%;
    .sec2 {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
    }
}
table {
    text-align: center;
}

