<div class="container">
  <mat-card>
  <mat-card-title>Ajouter une classe</mat-card-title>
  <form class="form mb-3" (ngSubmit)="addClass()"> 
    <div class="sec2">
      <div class="form-group col-sm-5">
          <label for="libelle">libellé classe *</label><br>
          <input #wording="ngModel" minlength="8" maxlength="20" type="text" name="wording" class="form-control" ngModel required [(ngModel)]="classWording"><br>
          <span *ngIf="wording.touched && wording.invalid" class="alert-danger">libellé invalide !</span>
      </div>
      <div class="form-group col-sm-3">
          <label for="effectif">effectif classe *</label><br>
          <input #size="ngModel" type="number" name="size" min="10" max="40" class="form-control" required [(ngModel)]="classSize">
          <span *ngIf="size.touched && size.invalid" class="alert-danger">effectif invalide !</span>
      </div>
    </div>
    <div class="form-group mt-3">
      <button mat-flat-button color="primary" type="submit">Valider</button>
    </div>
  </form> 
  </mat-card>
  
  <div class="table-container mt-3">
    <h2>{{ title | uppercase }}</h2>
    <table>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">libellé</th>
          <th scope="col">nombre d'éléves</th>
          <th scope="col">date création</th>
          <th scope="col">modifier</th>
          <th scope="col">supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cl of classes">
          <th>{{cl.id}}</th>
          <th>{{ cl.wording | uppercase }}</th>
          <th>{{ cl.size }}</th>
          <th>{{ date() | date }}</th>
          <th>
            <a routerLink="/frontoffice/update-class/{{cl.id}}" >
              <mat-icon>edit</mat-icon>
            </a>
          </th>
          <th>
            <button mat-mini-fab color="warn" aria-label="delete icon"(click)="deleteClass(cl.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet> 


