<div class="container class-management-container">
  <section class="row example-container">
    <h4>{{ titleForm | uppercase }}</h4>
    <div class="form-container col-12 col-md-12">
      <form class="example-form col-12 col-md-12" [formGroup]="form" (ngSubmit)="addClass()">
          <div class="col-6 col-md-12 item1">
            <mat-form-field class="example-full-width lib" appearance="fill">
              <mat-label>Libellé classe</mat-label>
              <input type="text" minlength="8" maxlength="20" matInput  placeholder="Ex. Seconde S A " formControlName="wording" [formControl]='libFormControl'>
              <mat-error *ngIf="libFormControl.hasError('required')">
                Saisir <strong>le libellé</strong>
              </mat-error> 
            </mat-form-field>
          </div>
  
          <div class="col-6 col-md-12 item2">
            <mat-form-field class="example-full-width eff" appearance="fill">
              <mat-label>Effectif classe</mat-label>
              <input type="number" matInput  formControlName="size" [formControl]="effFormControl">
              <mat-error *ngIf="effFormControl.hasError('required')">
                Renseignez <strong>l'effectif </strong> de la classe
              </mat-error> 
            </mat-form-field>
            <div class="row btn-container col-6 mt-1 mb-4">
              <button mat-flat-button color="primary" type="submit" >Valider</button>
            </div>
          </div>  
      </form>
    </div>  
  </section>
  
  <div class="table-container my-3">
    <h4>{{ title | uppercase }}</h4>
    <div class="table-responsive">
      <table class="table">
          <thead>
          <tr>
              <th scope="col">nb.classes</th>
              <th scope="col">libellé</th>
              <th scope="col">effectif</th>
              <th scope="col">date création</th>
              <th scope="col">actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let class of classes">
              <td>{{ classes.length }}</td>
              <td>{{ class.wording | uppercase }}</td>
              <td>{{ class.size }}</td>
              <td>{{ class.date | date }}</td>
              <td>
                <button mat-icon-button>
                  <a routerLink="/frontoffice/update-class/{{ class._id }}" >
                    <mat-icon>edit</mat-icon> 
                  </a>
                </button>   
                <button mat-icon-button color="warn" (click)="deleteClass(class._id)">
                  <mat-icon id="icon2">delete_outline</mat-icon>
                </button>
              </td> 
          </tr>
          </tbody>
      </table>
    </div>  
   <!--  <table class="table table-striped">
      <thead>
        <tr>
          <td>Libelle</td>
          <td>Effectif</td>
          <td>Modif</td>
          <td>Supp</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let class of classes">
          <td>{{ class.wording }}</td>
          <td>{{ class.size }}</td>
          <td><a routerLink="/classDetails/{{ class._id }}" class="btn btn-warning">Edit</a></td>
          <td><button (click)="deleteClass(class._id)" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>  -->

    <mat-paginator 
        #paginator 
        [length]="100" 
        [pageSizeOptions]="[5, 6, 8]" 
        aria-label="select page" 
        showFirstLastButtons>
    </mat-paginator>

  </div>
</div>


<router-outlet></router-outlet> 


