<div class="container">
  <form class="form mb-3">
    <fieldset>
      <legend>Remplir pour ajouter une classe</legend>
      <div class="sec2">
        <div class="form-group col-sm-5">
          <div class="label">libellé classe</div>
          <input type="text" name="wording" class="form-control" [(ngModel)]="classWording">
        </div>
        <pre></pre>
        <div class="form-group col-sm-3">
          <div class="label">effectif classe</div>
          <input type="number" name="effectif" class="form-control" [(ngModel)]="classSize">
        </div>
        <pre></pre>
        <div class="form-group col-sm-3">
          <div class="label">date</div>
          <input class="form-control" type="date" name="date" [(ngModel)]="date">
        </div>
      </div>
      <div class="form-group mt-3">
        <button mat-flat-button color="primary" (click)="addClass()">ajouter</button>
      </div>
    </fieldset>
  </form>
  <hr class=""> 

  <!-- class list container -->
  <div class="table-container">
    <h1>{{ title | uppercase }}</h1>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <td><strong>id</strong></td>
          <td><strong>libellé</strong></td>
          <td><strong>nombre d'éléves</strong></td>
          <td><strong>date création</strong></td>
          <td><strong>modifier</strong></td>
          <td><strong>supprimer</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cl of classes">
          <td>{{ cl.id }}</td>
          <td>{{ cl.wording | uppercase }}</td>
          <td>{{ cl.size }}</td>
          <td>{{ date | date }}</td>
          <td>
            <div>
              <button mat-mini-fab color="primary" aria-label="edit button">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
          <td>
          <div>
            <button mat-mini-fab color="warn" aria-label="delete icon"(click)="deleteClass(cl.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<router-outlet></router-outlet> 


